#wrapper {
  border-width: 3px;
  border-style: solid;
  border-image-source: url('../images/site/checkerboard.jpg');
  border-image-slice: 10;
  border-image-repeat: round;
}
main {
    padding: 20px 40px;
}
.hero {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.upgrade-box {
  padding: 20px;
}
.review-box {
  padding: 20px;
}
.upgrade-grid {
  grid-template-columns: repeat(4, 1fr);
}