<%# Content for the add classification view %>
<h1>Add Classification</h1>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<form action="/inv/add-classification" method="post">
    <label for="classification_name">Classification Name:</label>
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY.</p>
    <input type="text" id="classification_name" name="classification_name" required title="No spaces or special characters." value="<%= locals.classification_name || '' %>">
    <button type="submit">Add Classification</button>
</form>