<%# Content for the management view %>
<h1>Vehicle Management</h1>

<p>
    <a href="/inv/add-classification">Add New Classification</a>
</p>

<p>
    <a href="/inv/add-inventory">Add New Inventory</a>
</p>